/* fondo de https://css-pattern.com/  */

html {
  --s: 100px; /* control the size */
  
  --_g: #0000 90deg,#366 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    conic-gradient(from 90deg at 1px 1px,var(--_g));
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

/* tipografías, unha soa, monoespaciada, para non liarme */

@font-face {
    font-family: 'textos';
    src: url(Natural-Mono-Regular.ttf);
}

/* para as diferentes seccións */

/* cores
 * 
 * https://botsin.space/@randomColorContrasts/109427039087115973
We Peep #FADBE7
Kashmir Blue #356994

(Contrast ratio: 4.5:1 | AA)
 */
:root {
  --main-bg-color: #356994;
  --main-txt-color: #FADBE7;
}


/* os cadros co contido */

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
  transition: background ease 0.3s;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  
  /*font-weight: 400;*/
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  /* para cando está seleccionada*/
  background: #fff;
  color: #000;
  font-size: 1.2em;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

body {
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: textos;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1em;
}


/* para os detalles */
.cita {
  font-style: italic;
  font-size: 0.8em;
  background-color: #555;
}

img {
  max-width:100%;
  height:auto;
}

.tabs h1, h2 {
  color: #fafafa;
}

li {
  font-size: 0.8em;
}

a:link  {
   color: white;
   text-decoration: underline;
}

a:hover {
   color: yellow;
   text-decoration: underline;
}

a:visited {
   color: #ffd;
}

dt {
   font-weight: 600;
}
